.product-group:hover
{
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .1s ease-in;
    cursor: pointer;
}

.product-group img{
    max-height: 100px !important;
}

.cartegory-text{
    text-align: center;
    font-size: 12px;

}
.orange {
    background: #ff9f1a;
    color: #fff;
}

.checked {
    color: #ff9f1a;
}
.last-viewed .product-title{
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    color: #0066c0;
}

.last-viewed .product-title:hover{
    color: #ff3333;
}

.last-viewed .reviews{
    text-decoration: underline;
}
.last-viewed .products.product-image{
    margin-top: 20px;
    width: 60%;
    height: 185px;
}

/** POPULAR PRODUCT CATEGORY/GROUP ON THE USER DASHBOARD **/
.popular-card {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    background: #fff;
    overflow: hidden;
    position:relative;
    margin-left: 15px;

}
.popular-card1 {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}

.popular-img{
    width: 60px;
    height: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.popular-title{
    display:block;
    text-align: center;
    font-size: 10px;
    font-weight: bold;


}

@media (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1133px) {

}
@media (max-width: 768px) {
    .popular-card{
        margin-left: 10px;
        margin-bottom: 10px;
        max-width: 110px;
    }
    .popular-card1{
        max-width: 100%;
    }
}
@media (max-width: 540px) {
    .popular-card{
        margin-left: 10px;
        margin-bottom: 10px;
        max-width: 110px;
    }
    .popular-card1{
        margin-left: 55px;
        margin-right: 55px;
        margin-bottom: 10px;
        max-width: 100%;
    }
}

@media (max-width: 441px) {
    .popular-card{
        margin-left: 10px;
        margin-bottom: 10px;
        max-width: 110px;
    }
    .popular-card1{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
        max-width: 310px;
    }
}

@media (max-width: 380px) {
    .popular-card{
        margin-left: 30px;
        margin-bottom: 10px;
        max-width: 110px;
    }
    .popular-card1{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        max-width: 280px;
    }
}

@media screen and (max-width: 576px) {
    .last-viewed .product-title{
        font-size: 14px;
        font-weight: 600;
    }

}
