.product-group:hover
{
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .1s ease-in;
    cursor: pointer;
}

.product-group img{
    max-height: 100px !important;
}

.cartegory-text{
    text-align: center;
    font-size: 12px;

}
.orange {
    background: #ff9f1a;
    color: #fff;
}

.checked {
    color: #ff9f1a;
}
.last-viewed .product-title{
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    color: #0066c0;
}

.last-viewed .product-title:hover{
    color: #ff3333;
}

.last-viewed .reviews{
    text-decoration: underline;
}
.last-viewed .products.product-image{
    margin-top: 20px;
    width: 60%;
    height: 185px;
}

@media screen and (max-width: 576px) {
    .last-viewed .product-title{
        font-size: 14px;
        font-weight: 600;
    }

}
