.product-group:hover
{
    box-shadow: 1px 8px 20px grey;
    -webkit-transition:  box-shadow .1s ease-in;
    cursor: pointer;
}

.product-group img{
    max-height: 100px !important;
}

.cartegory-text{
    text-align: center;
    font-size: 12px;

}
.orange {
    background: #ff9f1a;
    color: #fff;
}

.checked {
    color: #ff9f1a;
}
.last-viewed .product-title{
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    color: #0066c0;
}

.last-viewed .product-title:hover{
    color: #ff3333;
}

.last-viewed .reviews{
    text-decoration: underline;
}
.last-viewed .products.product-image{
    margin-top: 20px;
    width: 60%;
    height: 185px;
}

/** POPULAR PRODUCT CATEGORY/GROUP ON THE USER DASHBOARD **/
.popular-card {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    background: #fff;
    overflow: hidden;
    position:relative;
    margin-left: 15px;

}
.popular-card1 {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}

.popular-img{
    width: 60px;
    height: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.popular-title{
    display:block;
    text-align: center;
    font-size: 10px;
    font-weight: bold;


}

.text-address{
    font-size: 14px!important;
}
.text-address .row{
    margin-top: 3px;
}

.text-address p:not(strong){
    font-weight: normal;
    padding-right: 5px;
}

.package-card {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    background: #fff;
    overflow: hidden;
    position:relative;
    margin-left: 1px;
    margin:1px;

}
.select-package{
    padding: 10px;
    border:1px solid #d3d3d3;
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
}

.form-rounded {
    border-radius: 1rem;
}
.fs-12{
    font-size: 12px!important;
}
.fs-13{
    font-size: 13px!important;
}
.fs-14{
    font-size: 14px!important;
}

.btn-circle {
    width: 25px;
    height: 25px;
    padding: 6px 6px;
    border-radius: 15px;
    text-align: center;
    font-size: 10px;
    line-height: 1.42857;
}

#btn-add-row:hover,
#btn-add-row:focus,
#btn-add-row:active,
#btn-add-row.active{
    background-color: transparent;
    color: #343a40;
    border-color: #343a40;
}
.my-label{
    color: #212529;
    font-weight: 460;
}
textarea {
    resize: none;
}

.quote .input-file input[type="file"] {
    visibility: hidden;
    width: 1px;
    height: 1px;
}
.quote .input-file .btn {
    background-color: transparent;
    border-color: transparent;
    color: #333;
}
.quote .input-file .file-selected {
    font-size: 10px;
    width: 100%;
    display: block;
    margin-top: 5px;
}

.package-content{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 40px;
    padding-right: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 18px;
    margin-right: 15px;
    overflow: hidden;
    position:relative;
}
.packages-card{
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 30px;
    padding-right: 5px;
    padding-left: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 18px;
    margin-right: 15px;
    overflow: hidden;
    position:relative;
}
.package-card{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 40px;
    padding-right: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 18px;
    background: #54d2d2;
    margin-right: 15px;
    overflow: hidden;
    position:relative;
}

.packsummary{
    margin-left: 15px;
}
.packimage{
    display:inline-block;
    position:absolute;
    left:0;
    top:0;
}
.packimage img{
    margin-top: 5px !important;
    background-color: #DCDCDC;
    max-height: 60px;
    border-radius: 9px;

}
.packname{
    display:inline-block;
    position:absolute;
    right:0;
    top: 0;
}
.packname h6{
    margin-top: 18px !important;
}
.packsummary .details{
    font-size: 12px;
}
.info{
    font-size: 13px;
    font-weight: bold;
}
.packaddress{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-right:30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 0px;
    margin-left: 15px;
    overflow: hidden;
    position:relative;
    background-color: #f0d738;
    width: 75%;
    text-align: center;
}
.packaddress p{
    font-size: 13px;
    font-style: italic;
}
.packaddress img{
    max-height: 30px;
    border-radius: 9px;

}
.btnlink{
    top: 0;
    font-size: 12px;
    font-weight: bold;
}

.packplancard{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-right: 35px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    margin-right: 30px;
    overflow: hidden;
    position:relative;
    font-size: 13px;
}
.standard{
    background: #fff;
    text-align: center;
    font-size:13px;

}
.express{
    background: #f0d738;
    text-align: center;

}
.premium{
    background: #fff;
    text-align: center;

}
.packplan{

}
.packdetails{
    background-color: #54d2d2;
    border-radius: 25px;
    margin-right: 30px;
}
.packdetailscard{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-right: 35px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 25px;
    margin-top: 35px;
    overflow: hidden;
    position:relative;
    background: #fff;
    text-align: center;
    font-size:13px;
}

input#promocode{
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid;
    border-radius: 25px;
    max-width: 65%;
}
@media (max-width: 600px) {
    .packimage img{
        display: none;
        margin-top: 5px !important;
        background-color: #DCDCDC;
        max-height: 60px;
        border-radius: 9px;

    }
}

@media (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1133px) {

}
@media (max-width: 768px) {
    .popular-card{
        margin-left: 10px;
        margin-bottom: 10px;
        max-width: 110px;
    }
    .popular-card1{
        max-width: 100%;
    }
}
@media (max-width: 540px) {
    .popular-card{
        margin-left: 10px;
        margin-bottom: 10px;
        max-width: 110px;
    }
    .popular-card1{
        margin-left: 55px;
        margin-right: 55px;
        margin-bottom: 10px;
        max-width: 100%;
    }
}

@media (max-width: 441px) {
    .popular-card{
        margin-left: 10px;
        margin-bottom: 10px;
        max-width: 110px;
    }
    .popular-card1{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 10px;
        max-width: 310px;
    }
}

@media (max-width: 380px) {
    .popular-card{
        margin-left: 30px;
        margin-bottom: 10px;
        max-width: 110px;
    }
    .popular-card1{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        max-width: 280px;
    }
}

@media screen and (max-width: 576px) {
    .last-viewed .product-title{
        font-size: 14px;
        font-weight: 600;
    }

}
